[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-environ = "*"

[dev-packages]
django-cors-headers = "*"

[requires]
python_version = "3.9"
